    <footer>
     <div class="container">
       <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <span class="logo img-fluid"><img src="https://res.cloudinary.com/elcoilombe/image/upload/v1527598820/High%20TDev/1.png" alt="Logo High Technology Development" width="150"></span>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>
                         <li>
                            <a href="/">Acceuil</a>
                          </li>

                          <li>
                             <a href="/about">À propos</a>
                          </li>
                          <li>
                            <a href="/programmes">Programmes</a>
                          </li>
                          <li>
                            <a href="/galerie">Galerie</a>
                          </li>

                          <li>
                             <a href="/contact">Contact </a>
                          </li>
                     </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="address">
                        <span>Contact</span>
                        <li>
                           <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0488972819">Téléphone : 04 88 97 28 19</a>
                        </li>
                        <li>
                           <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adresse : Rue des Lilas, 9/11, 4101, Jemeppe-sur-Meuse</a>
                        </li>
                        <li>
                           <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email : Contact@hightdev.com</a>
                        </li>
                   </ul>
               </div>
           </div>
        </div>
        <div class="container-fluid text-white text-right">
          <p> &copy; High T-Dev 2018</p>
        </div>
    </footer>
