  <section class="galerie">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527866005/pexels-photo-241456.jpg" alt="Coaching">
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527866507/pexels-photo-935965.jpg" alt="Bodubuilding">
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527866003/workout-fitness-street-workout-trees-819691.jpg" alt="Boxing">
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527866003/pexels-photo-703012.jpg" alt="Coaching">
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527865957/pexels-photo-260447.jpg" alt="Bodubuilding">
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="https://res.cloudinary.com/elcoilombe/image/upload/v1527866003/pexels-photo-949129.jpg" alt="Boxing">
        </div>
      </div>
    </div>
  </section>
