<header>
  <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1527598820/High%20TDev/1.png" alt=" Logo High T-Dev" class="img-fluid" height="85px" width="85px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="#">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">À Propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="programmes">Programmes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galerie">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li> <!-- li -->
          </div> <!-- div -->
        </div> <!-- Row -->
      </div> <!-- Container -->
    </nav><!-- navbar-wrapper-->
  </header>
