  <section class="hero viewport-mid-height">
      <div class="container  d-flex align-items-center justify-content-left">
      <div class="row">
        <div class="space"></div>
        <div class="slogan col-md-12">
          <h1> Atteignez les limites <br> que vous <del>n'auriez jamais</del> <br>  imaginez</h1>
          <p class="text-left"> Johnna Doe <span> <b>votre</b> coach personnel</span></p>
        </div>
        <div class="space-mid"></div>
        <div class="col-md-12">
          <a href="" class="btn btn-dark"> Programme personnalisé</a>    <a href="" class="btn btn-dark"> Nos programmes</a>
        </div>
    </div>
    </div>
  </section>
  <section class="training">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 debutant">
          <h1>Débutant</h1>
          <p> <i class=" fa fa-chevron-right"></i></p>
        </div>
        <div class="col-md-6 pro">
          <h1>professionnel</h1>
          <p> <i class=" fa fa-chevron-right"></i></p>
        </div>
      </div>
    </div>
  </section>
