<div class="container-fluid btn-secondary p-1" id="htd-bar">
  <div class="row text-center">
    <div class="col-md-4 htd-bar-text text-uppercase">
      Un modèle fièrement créé par High T-Dev
    </div>
    <div class="col-md-4"> <!-- end col -->

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Les autres sites
        </button>
        <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
          <p class="dropdown-item"> HTD Fitness <small><a  href="https://htdfitness.netlify.com" >Visiter</a></small> </p>
          <p class="dropdown-item"> HTD Immo <small><a  href="https://htd-immo.netlify.com" >Visiter</a></small> </p>
          <p class="dropdown-item"> HTD Resto <small><a  href="https://htd-resto.netlify.com" >Visiter</a> </small> </p>
          <p class="dropdown-item"> HTD Snack <small><a  href="https://htdsnack.netlify.com" >Visiter</a> </small> </p>
        </div> <!-- end dropdown menu -->
      </div> <!-- end dropdown-->
    </div> <!-- end col -->
    <div class="col-md-4">
      <a href="https://hightdev.com" class="btn btn-danger btn-sm"> Retourner sur le site High T.Dev</a>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->
