  <section class="story-about">
    <div class="container">
      <div class="space"></div>
      <h2 class="text-center"> Notre histoire</h2>
      <div class="space-mid"></div>
      <hr>
      <div class="row">
        <div class="col-md-6 about-left">
          <div class="space-mid"></div>
          <h3> Commencement </h3>
          <div class="space-mid"></div>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus. </p>
        </div>
        <div class="col-md-6 about-right">
          <div class="space-mid"></div>
          <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1528305170/High%20TDev/Fitness/pexels-photo-863988.jpg" alt="Piscine bleue" class="img-fluid p-2">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 about-left">
          <div class="space-mid"></div>
          <div class="space-mid"></div>
          <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1528305914/High%20TDev/Fitness/bodybuilder-weight-training-stress-38630.jpg" alt="Bodybuilder" class="img-fluid p-2">
        </div>
        <div class="col-md-6 about-right">
          <div class="space-mid"></div>
          <h3> Le coaching sportif </h3>
          <div class="space-mid"></div>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus. </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 about-left">
          <div class="space-mid"></div>
          <h3> Création de HTD Fitness </h3>
          <div class="space-mid"></div>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus. </p>
        </div>
        <div class="col-md-6 about-right">
          <div class="space-mid"></div>
          <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1528305976/High%20TDev/Fitness/pexels-photo-685534_1.jpg" alt="Gym" class="img-fluid p-2">
          <div class="space-mid"></div>
        </div>
      </div>
    </div>
  </section>
