  <section class="team viewport-height">
    <div class="container">
      <div class="space"></div>
      <div class="row">
        <div class="col-md-6">
          <h2> Rencontrez le coach <sup><i class="fa fa-facebook-square"></i> <i class="fa fa-instagram"></i> <i class="fa fa-google-plus-square"></i></sup></h2>
          <h6>Johnna Doe</h6>
          <div class="space-mid"></div>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus.
          Laboriosam, voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi rem, assumenda tempore harum delectus minima aliquam suscipit magnam reiciendis. Dolorem blanditiis aspernatur consectetur itaque et expedita dicta. Laboriosam, voluptatibus. </p>
          <div class="space-mid"></div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </section>
