  <section class="team-about">
    <div class="container">
      <div class="space"></div>
      <h2 class="text-center"> L'équipe</h2>
      <div class="space-mid"></div>
      <div class="row text-center">
        <div class="col-md-3 team1">
          <div class="fadein">
            <h4> John Doe</h4>
            <p> Domaine : Crossfit</p>
            <p> <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-google-plus-square"></i></p>
          </div>
        </div>
        <div class="col-md-3 team2">
          <div class="fadein">
            <h4> Johnna Doe</h4>
          <p> Domaine : Crossfit</p>
          <p> <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-google-plus-square"></i></p>
          </div>

        </div>
        <div class="col-md-3 team3">
          <div class="fadein">
            <h4> John Doa</h4>
            <p> Domaine : Crossfit</p>
            <p> <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-google-plus-square"></i></p>
          </div>
        </div>
        <div class="col-md-3 team4">
          <div class="fadein">
            <h4> Johnna Doa</h4>
          <p> Domaine : Crossfit</p>
          <p> <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-google-plus-square"></i></p>
          </div>
        </div>
        <div class="space-mid"></div>
        <a href="#" class="btn btn-outline-light"> Commencer l'entrainement aujourd'hui</a>
      </div>

    </div>
    <div class="space"></div>
  </section>
